.footer-container {
  width: 100%;
  height: 232px;
  top: 3176px;
  gap: 0px;
  opacity: 0px;
  background: #123557;
}
.footer-main {
  width: 1080px;
  height: 155px;
  position: relative;
  top: 43px;
  margin: auto;
  gap: 0px;
  border-top: 1px solid #ffffff 20%;
  border-bottom: 1px solid #ffffff 20%;
  border-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Added */
  align-items: center; /* Added to vertically center align */
  border-right: 0;
  box-shadow: 0 -5px 5px -5px #ffffff, 0 5px 5px -5px #ffffff;
  opacity: 1;
}

.footer-col {
  margin: 10px;
  color: white;
  padding-left: 27px;
}
.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
}
.footer-col-img img {
  width: 150px;
  margin-top: 35px;
  display: block; /* Ensures the image is displayed as a block element */
  /* Centers the image horizontally and adds space below */
}

.footer-col-img p {
  margin-left: 10px;
  color: white; /* Remove default margin */
}
@media (max-width: 768px) {
  .footer-col {
    flex: 1 0 100%;
  }
}

.footer-col {
  margin-bottom: 20px; /* Add space below the footer column */
}

.footer-col h4 {
  margin-bottom: 10px; /* Add space below the heading */
}

.footer-col p {
  margin: 10px 0; /* Add space between the lines of text */
}
.icons {
  display: flex;
  justify-content: space-between; /* Optional: Removes this if you want the icons to be centered within the padding */
  width: 160px; /* Adjust the width as needed */
}

.icons a {
  text-decoration: none;
  font-size: 24px; /* To remove the underline from the links */
}
