.yt-dash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 60px;
  margin-top: 100px;
  padding: 20px;
  background: #072f57;
  min-height: 623px;
}

.yt-dash-left {
  position: relative;
  width: 100%;
  max-width: 461px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.yt-dash-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  margin-top: 20px;
}

.buyer,
.supplier {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.buyer::after,
.supplier::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #EB7150;
  transition: width 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.buyer:hover,
.supplier:hover {
  color: #EB7150;
}

.buyer:hover::after,
.supplier:hover::after {
  width: 140px;
  height: 2px;
}

.yt-dash-paragraphs {
  margin-top: 10px;
  color: white;
}

.paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.paragraph img {
  width: 20px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
.yt-dash-container {
    flex-direction: row;
    height: auto;
  }

.yt-dash-left,
.yt-dash-right {
    width: 50%;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }

.yt-dash-text {
    font-size: 30px;
    margin-top: 0;
  }

.yt-dash-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.yt-dash-right.yt-dash-text {
    margin-top: 0;
  }

.yt-dash-right.yt-dash-paragraphs {
    margin-top: 20px;
  }

  /* Add some space between the buyer and supplier elements */
 .yt-dash-left.buyer,
 .yt-dash-left.supplier {
    margin-right: 40px;
  }

  /* Add some gap between the lines in the paragraph */
 .yt-dash-paragraphs.paragraph {
    margin-bottom: 15px;
  }
}