.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Styling for dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
    margin-top: 13px;
    margin-left: 10px;
  }
  
  /* Styling for dropdown options */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
  }
  
  /* Change color of dropdown options on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Animation for showing dropdown */
  .dropdown-content.show {
    display: block;
    max-height: 200px; /* Adjust this value according to the content height */
  }